@font-face {
    font-family: "Sci Fied Bitmap";
    src: url("//db.onlinewebfonts.com/t/535dff488baa782f6dc1ac117691d250.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --transition-time: 0.5s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.wrapper__header {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
}
.contents__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999999;
}
.title {
    color: #55B2D4;
    font-size: 15px;
    line-height: 20px;
}
.subtitle {
    font-family: Sci Fied Bitmap;
    font-size: 8px;
    line-height: 20px;
    margin-left: 7px;
}
.wrapper__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.game__container {
    width: 222px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    border: 1px solid gray;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.game__title {
    font-weight: bold;
    color: black;
    font-size: 12px;
}
.game__subtitle {
    color: #999999;
    font-size: 13px;
}
.word__text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textbox {
    height: 24px;
    font-size: 12px;
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.textbox::placeholder {
    font-size: 11;
    color: red;
}
.search {
    width: 100%;
    height: 24px;
    margin-left: 5px;
    background: #FFFFFF;
    font-size: 11px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition-time);
    font-weight: bold;
}
.search:hover {
    border: none;
    background-color: purple;
    color: white;
}
.word__result {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
}
.lotto__number {
    width: 140px;
    height: 22px;
    padding: 0 8px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #ffe400;
    border-radius: 11px;

}
.lotto__button {
    width: 65px;
    height: 25px;
    background-color: white;
    font-size: 13px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.lotto__button:hover {
    border: none;
    background-color: purple;
    color: white;
}